//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

h1 {
	color: $color-bold-teal;
	text-align: center;

	span {
		color: darken($color-bold-teal, 10%);
	}
}