//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------

$color-light-gray: #dddfd4;
$color-bold-teal: #3fb0ac;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-teal: #173e43;